* {
  font-family: Comic Sans MS;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  
}

@media {
  max-width: 1000px;
}

#header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  background-color: yellow;
  width: 100%;
  z-index: 1000;
  
}

#header-img {
  width: 50px;
  margin-right: 10px;
}

#nav-bar {
  display: flex;
  margin-left: 80%; 
}

.nav-link {
  margin-right: 50px;
}

.nav-link:last-child {
  margin-right: 0;
}

.about {
  text-align: center;
  margin: 100px 50px 50px 100px;
}

.flavors {
  display: flex;
}

.text-box {
  border: 1px solid black;
  display: flex;
  flex: 1;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.text-box p {
  text-align: center;
}

#advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-bottom: 50px;
  
}

#video {
  height: 100%;
  width: 50%;
}

.text-box .types {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.text-box .description {
  padding-bottom: 30px;
}

.userinfo {
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

#email {
  width: 30%;
  height: 50px;
  text-align: center;
}

#submit {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 30px;
  margin-top: 15px;
}
